API_ID=28610243
API_HASH=0db51143d715bc0682bce204e8cf2ce5

# GAMES NOT WORKING YET
PLAY_GAMES=
POINTS=

AUTO_TASKS=

USE_RANDOM_DELAY_IN_RUN=
RANDOM_DELAY_IN_RUN=

# text after @
TRIBE_CHAT_TAG=

USE_REF=
REF_ID=

USE_PROXY_FROM_FILE=
